.admin .form-control::file-selector-button {
  color: black;
}

.admin .form-control {
  color: black;
  background-color: white;
}

.admin .form-control::placeholder {
  color: black;
}

.admin .form-check-input {
  background-color: white;
}

.admin .input-group-text {
  background-color: white;
}