.edit-nav-link {
  display: block;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  text-align: center;
  color: gray;
  text-shadow: none;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: color 0.3s ease, text-shadow 0.3s ease;

  &:hover {
    color: black;
    text-shadow: 0 0 2px rgba(128, 128, 128, 0.3),
      0 0 4px rgba(128, 128, 128, 0.3), 0 0 6px rgba(128, 128, 128, 0.3);
  }

  @media (max-width: 768px) {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  @media (max-width: 576px) {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

.active-edit-nav-link {
  color: black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-shadow: 0 0 2px rgba(128, 128, 128, 0.3),
    0 0 4px rgba(128, 128, 128, 0.3), 0 0 6px rgba(128, 128, 128, 0.3);
}
